
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.hour{
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
  width: 150px;
  height: 20px;
}

.day{
  margin: 20px;
  position: relative;
  width: min-content;

}

.event{
  position: absolute;
  border: 0.5px solid white;
  border-top: 0.5px solid transparent;
  border-bottom: 0.5px solid transparent;
}
